*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

html {
    font-family: 'Barlow Condensed', sans-serif;
}

body{
    background-image: url("./assets/image/background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cccccc;
}

#header{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.logo{
    width: 160px;
    height: 78px;
    padding: 20px 0;
}

.logo img{
    width: 160px;
    height: 38px;
}

.menu {

}

.menu .list-menu ul{
    display: flex;
    list-style: none;
}

.menu .list-menu ul li{
    position: relative;
    padding: 25px 30px;
}

.menu .list-menu>ul>li>a{
    display: block;
    width: 100%;
    height: 51px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.menu .list-menu>ul>li>a:hover{
    color: #AB844F;
}

.list-menu ul li.active a {
    color: #AB844F; 
}

.login ul{
    display: flex;
    list-style: none;
}

.login ul li{
    position: relative;
    padding: 25px 30px;
}

.login ul li a{
    color: white;
    transition: all 0.3s ease-in-out;
}

.login ul li a:hover{
    color: #AB844F;
}

/* Content */
.content{
    height: 1000px;
}

/* CSS footer */

.footer {
    background-color: #1D1D1F;
    color: white;
    margin-top: 1200px;
}

.footer-top {
    display: flex;
    padding: 0 170px;
    padding-bottom: 25px;
    background-color: #202020;
    height: 425px;
}

.footer-top-1 {
    flex-basis: 33.33%;
    padding-top: 80px;
}

.footer-top-1 h4 {
    font-size: 24px;
    color: #eaeaf3;
    padding-bottom: 25px;
    font-family: 'Gilda Display', serif;
    font-weight: 200;
}

.footer-top-1 p {
    width: 356px;
    height: 79px;
    line-height: 1.65;
    font-size: 18px;
    color: #adadad;
    margin-bottom: 10px;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select::after {
    content: '\f57d'; /* Unicode của icon quả địa cầu trong Font Awesome */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transform: translateY(-50%);
    margin-top: 12px;
    margin-right: 14px;
}

.footer-top-1 select {
    width: 160px;
    height: 50px;
    background-color: #282828;
    color: #adadad;
    font-size: 16px;
    border-color: #282828;
    border-style: solid;
    border-width: 0.8;
    align-items: center;
    padding: 0 30px;
    margin-top: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.footer-top-2 {
    flex-basis: 33.33%;
    padding-top: 80px;
    padding-left: 100px;
}

.footer-top-2 h4 {
    font-size: 24px;
    color: #eaeaf3;
    padding-bottom: 25px;
    font-family: 'Gilda Display', serif;
    font-weight: 200;
}


.footer-top-2 li {
    list-style: none;
    margin: 0 0 6px;
}

.footer-top-2 li a {
    font-size: 18px;
    color: #86868b;
}

.footer-top-2 li a:hover {
    text-decoration: underline;
}

.footer-top-3 {
    flex-basis: 33.33%;
    padding-top: 80px;
}

.footer-top-3 h4 {
    font-size: 24px;
    color: #eaeaf3;
    padding-bottom: 25px;
    font-family: 'Gilda Display', serif;
    font-weight: 200;
}

.footer-top-3-p1{
    color: #adadad;
    font-size: 18px;
    width: 250px;
    line-height: 1.65;
}

.footer-top-3-p2{
    font-size: 24px;
    margin: 20px 0;
    font-family: 'Gilda Display', serif;
}

.footer-top-3-p3{
    border-bottom: 1px solid #AA8453;
    width: 148px;
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-icon{
    display: flex;
}

.footer-icon i{
    font-size: 15px;
    margin: 10px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.footer-icon i:hover {
    color: #AA8453;
    cursor: pointer;
}

.footer-icon-1 {
    margin-left: -10px;
}

.footer-bottom {
    background-color: #1E1E1E;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-content p {
    font-size: 16px;
    color: #adadad;
}


/* Restaurant */

.res-wrapper {
    margin-top: 700px;
    font-size: 30px;
    width: 100%;
    height: 884px;
    background-color: #fff;
}

.res-content-top{
    width: 1140px;
    height: 138px;
    margin: 0 auto;
    padding-top: 100px;
}

.res-content-top i {
    font-size: 16px;
    color: #E4A853;
}

.res-content-top-p1 {
    color: #666;
    font-size: 16px;
    margin: 16px 0;
    letter-spacing: 6px;
}

.res-content-top-p2{
    font-size: 50px;
    color: #222;
    font-family: 'Gilda Display', serif;
}

.res-content-bottom{
    width: 1140px;
    margin: 0 auto;
    margin-top: 140px;
}

.res-content-bottom p{
    font-size: 18px;
    color: #666;
    letter-spacing: 1.2 px;
    line-height: 26.25px;
}

.res-content-bottom h6 {
    color: #222;
    font-size: 24px;
    margin: 20px 0;
    font-weight: 400;
    font-family: 'Gilda Display', serif;
}

.clock {
    display: flex;
    margin: 8px 0;
}

.clock p{
    font-size: 18px;
}

.clock i {
    font-size: 16px;
    color: #E4A853;
    padding-top: 6px;
    padding-right: 10px;
}

.restaurant-menu {
    width: 100%;
    height: 787px;
    background-color: #222;
    margin-top: 140px;
    text-align: center;
}

.menu-title {
    width: 1140px;
    height: 109px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.menu-title-p1{
    color: #aa8453;
    font-size: 16px;
    letter-spacing: 6px;
}

.menu-title-p2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Gilda Display', serif;
    margin-top: 10px;
}

.menu-type {
    width: 1140px;
    margin: 0 auto;
    font-family: 'Gilda Display', serif;
}

.menu-type-item {
    width: 926px;
    height: 137px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.menu-type-item ul li {
    display: inline;
    color: #fff;
    font-size: 24px;
    margin: 0 40px;
    font-weight: 300;
    /* border: 1px solid #aa8453 ; */
    padding: 10px 30px;
}

.menu-list {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    padding-left: 80px;
    justify-content: space-around;
}

.menu-list-left {
    margin-left: -80px;
}

.menu-list-left h5 {
    color: #aa8453;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.6px;
    border-bottom: 1px dashed #AA8453;
    padding-bottom: 8px;
    font-family: 'Gilda Display', serif;
}

.menu-list-left p {
    color: #adadad;
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1.6px;
}

.menu-list-right h5 {
    color: #aa8453;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.6px;
    border-bottom: 1px dashed #AA8453;
    padding-bottom: 8px;
    font-family: 'Gilda Display', serif;    
}

.menu-list-right p {
    color: #adadad;
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1.6px;
}

.restaurant-menu button {
    width: 122px;
    height: 44px;
    margin-top: 80px;
    background-color: #AA8453;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.restaurant-menu button a {
    color: #fff;
}

.restaurant-menu button:hover {
    background-color: #1D1D1F;
}

.restaurant-message-container{
    width: 736px;
    height: 375px;
    margin: 0 auto;
    margin-top: 90px;
}

.restaurant-message-container h6 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 6px;
    font-weight: 400;
}

.restaurant-message-container h4 {
    margin: 16px 0;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    font-family: 'Gilda Display', serif;
}

.restaurant-message-container p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26.25px;
}

.restaurant-message-info {
    display: flex;
}

.restaurant-message-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

.restaurant-message-info-content i {
    font-size: 8px;
    color: #AB844F;
}

.restaurant-message-info-content h6 {
    color: #fff;
    font-size: 16px;
    margin: 4px 0;
}

.restaurant-message-info-content p {
    font-size: 12px;
    color: #fff;
}